<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wireboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Wireboard.Properties.Settings>
            <setting name="PrefInitialDisplayLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrefDownloadDir" serializeAs="String">
                <value />
            </setting>
            <setting name="OwnGUID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultServer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManualServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ManualServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionMethod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TypeFontFamily" serializeAs="String">
                <value />
            </setting>
            <setting name="TypeFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TypeSpellCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ADBPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenCapRefresh" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ScreenCapPauseOnInactive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LayoutScreenCapChatHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenCapEnableTap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenCapSupportEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reconnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenlockBright" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenCapResize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenCapOnWinHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenCapOnWinWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenCapOnChatHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenCapOffWinHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenCapOffWinWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SharedClipboard" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RecentEmojiList" serializeAs="String">
                <value />
            </setting>
        </Wireboard.Properties.Settings>
    </userSettings>
</configuration>